@use '../variables.scss' as *;
// or as it also works
// @import '../variables.scss'
@use '../components/mixins' as *;

// Home Button
.home {
  &__button {
    @include allButtons;
    width: 100%;

    &:hover {
      background-color: $secondary-color;
      color: $light-text-color;
    }
  }
}

// Projeects Modal Button
.project {
  &__data {
    &-links {
      &-button {
        @include allButtons;
        background-color: transparent;
        display: block;
        padding: 0.9rem 1rem;
        text-align: center;
        width: 50%;

        &:hover {
          background-color: rgba(237, 242, 244, 0.6);
        }
      }
    }
  }
}

// Contact Button
.contact {
  &__button {
    @include allButtons;
    width: 50%;

    &:hover {
      background-color: $secondary-color;
      color: $light-text-color;
    }
  }
}

// Submitted Button
.submitted {
  &__button {
    @include allButtons;

    &:hover {
      background-color: $secondary-color;
      color: $light-text-color;
    }
  }
}
